@model TabloidMVC.Models.ViewModels.PostDeleteViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete @Model.Post.Title?</h3>
<div>
    
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Cancel</a>
    </form>
</div>
